{% extends "DjangoApp1/base.html" %}
{% block title %}Index{% endblock %}
{% block side_block %}{% endblock %}
{% block body_block %}
<h1>About</h1>
<a href="/DjangoApp1/register/">Register Here</a>

<a href="/DjangoApp1/login/">Login</a>


<button onClick="alert('You clicked the button using Javascript.');">
       Click Me - I run Javascript
</button>
<div id="msg">Hello
<button id="about-btn"> Click Me - I'm Javascript on Speed</button></div>


<p>This is a example</p>

<p>This is another example</p>
{% endblock %}
