{% extends "DjangoApp1/base.html" %}
{% block title %}Index
{% endblock %}
{% block side_block %}

{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
<div><button id="normal-btn">NORMAL</button>
<button id="big-btn">BIG</button>
<button id="huge-btn">HUGE</button></div>
<a class="navbar-brand" href="/DjangoApp1/restricted/">Restricted Page</a>
<a class="navbar-brand" href="/DjangoApp1/mainpage">MainPage</a>
<a class="navbar-brand" href="/DjangoApp1/about/">About</a>
<a class="navbar-brand" href="/DjangoApp1/profile/">Profile</a>
<a class="navbar-brand" href="/DjangoApp1/logout/">Logout</a><br />
{% else %}
<a href="/DjangoApp1/register/">Register Here</a><br />
<a href="/DjangoApp1/login/">Login</a><br />
{% endif %}
<br><br>

<h1>TAPAS PARADISE</h1>



<br><br>

		

<div><p>Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text.Hallo dies ist ein index test Text. ..</p></div>


      
{% endblock %}
